html {
}

body {
	position:absolute;
	left:0%;
	top:0%;
	height:100%;
	width:1280px;
	min-height:600px;
	//overflow:hidden;}
	

@font-face {
	font-family: 'Tangerine_Bold';
	src: url('../font/Tangerine/Tangerine_Bold.eot');
	src: local('☺'), url('../font/Tangerine/Tangerine_Bold.woff') format('woff'), url('../font/Tangerine/Tangerine_Bold.ttf') format('truetype'), url('../font/Tangerine/Tangerine_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLTCondensedBold';
	src: url('../font/futura_lt_condensed_bold-webfont.eot');
	src: local('☺'), url('../font/futura_lt_condensed_bold-webfont.woff') format('woff'), url('../font/futura_lt_condensed_bold-webfont.ttf') format('truetype'), url('../font/futura_lt_condensed_bold-webfont.svg#webfontPbHK1YUo') format('svg');
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	
}

@font-face {
	font-family: 'FuturaLTBookRegular';
	src: url('../font/futura_lt_book-webfont.eot');
	src: local('☺'), url('../font/futura_lt_book-webfont.woff') format('woff'), url('../font/futura_lt_book-webfont.ttf') format('truetype'), url('../font/futura_lt_book-webfont.svg#webfontAvUPBWsZ') format('svg');
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
}
	
#d{
	background:url(../McD.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	overflow:hidden;}
	
#hist{
	position:absolute;
	top:18px;
	right:79px;
	font-family:'Tangerine','Tangerine_Bold','FuturaLTCondensedBold',"Times New Roman",Times,serif,helvetica;
	font-size:24px;
	overflow:hidden;
	}
	
#fb_like{
	float:left;
	position:relative;
	bottom:-11px;
	}
#fb_like_index{
	position:absolute;
	left:384px;
	top:12px;
	}
	
#hist a{
	text-decoration:none;
	}
	
#hist a:hover{
	font-size:25px;
	border-bottom: 0 none;
}
#hist a:active {
    outline: medium none;
	}
	
	
#hisp{
	position:absolute;
	top:120px;
	right:-25px;
	//width:auto;
	height:auto;
	text-align:center;
	min-width:826px;
	}
#hisp table{
	position:relative;
	top:10px;
	right:-9%;
	padding:2px;
	border:thin;
	border:thin;
	overflow:hidden;}
	
#hisp table thead{
	color:#000;
	font-size:17px;
	}
	
/*#hisp tr {
    background: url("../table_rule.png") no-repeat scroll 0 0 transparent;
}*/

#welcome{
	font-family: 'Tangerine','Tangerine_Bold','FuturaLTCondensedBold',"Times New Roman",Times,serif,helvetica;
    text-shadow: 4px 4px 4px #aaa;
	font-size: 35px;
	position:relative;
	left:39px;
	top:1px;
	color:#FF0;
	font-weight:bold;
	text-align:center;
	-webkit-transform: rotate(18deg);	
	-moz-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(18deg);
	transform: rotate(18deg);
}

#box{
	position:absolute;
	left:597px;
	top:255px;
	}

	
#header .button {
	-moz-border-radius:50px 50px 50px 50px;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
	background:-moz-linear-gradient(center top , #be251d, #bb3730) repeat scroll 0 0 transparent;
	border:1px solid #588F07;
	color:#FFFFFF;
	height:28px;
	font-size:15px;
	position:absolute;
	right:-20px;
	top:20px;
	padding:0 12px;
	text-align:center;
	text-decoration:none;
	line-height:28px;
}

#header .button a{
	text-decoration:none;
}

#header .button:hover {
	background:-moz-linear-gradient(center top , #ba443e, #990e07) repeat scroll 0 0 transparent;
	text-decoration:none;
}

#a{
	background:url(../big_mac.jpg);
	background-repeat:no-repeat;
	/* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	overflow:hidden; */
	}
	
#b{
	background:url(../McD1.jpg);
	background-repeat:no-repeat;
	//overflow:hidden;
	}
	
#c{
	background:url(../McD2.jpg);
	background-repeat:no-repeat;
	//overflow:hidden;
	}

	
table
{
border-collapse:collapse;
}
table, td, th
{
border:0px solid black;
}
.instruction{
	color:#990000;
	font-weight:bold;
	font-family: 'Tangerine','Tangerine_Bold','FuturaLTCondensedBold',"Times New Roman",Times,serif,helvetica;
    text-shadow: 4px 4px 10px #d7ebff;
	font-size:23px;
	}
	
.pr{
	color:#990000;
	font-weight:bold;
	}
	
	
#td{
	font-weight:bold;
	bgcolor="#d7ebff";}	
	
.login {
position:absolute;
top:100px;
left:60px;
}

/*.login input{
background: url(../input_bgnd.jpg) no-repeat scroll 0 0 transparent;
    width: 280px;
padding: 5px 10px;
	}*/

.login1 {
position:absolute;
top:70px;
left:60px;
}

.form {
position:absolute;
width: 29%;
height: auto;
text-align: center;
top:90px;
float: left;
right:-30px;
}
.form ol{
	list-style:none;
	}

.login table{
	position:absolute;
	top:68px;
	right:78px;
	// width:567;}
	
table td{
	padding:5px;
	text-align:center;}
	
#t1{
	position:absolute;
	top:100px;
	right:11px;
	padding:2px;
	border:thin;
	width:380px;}
	
#trans{
	position:relative; 
	top:-5px;
	font-family:'Tangerine','Tangerine_Bold','FuturaLTCondensedBold',"Times New Roman",Times,serif,helvetica;
	font-size:32px;
	font-weight:bolder;
	color:#e8e929;
	}
	
#lbox{
	position: absolute;
    right: 19%;
    top: 161px;
	border:0;
	z-index:10;
	text-align:center;
	}
	
#lbox_closed{
	position: absolute;
    right: 7%;
    top: 292px;
	border:0;
	z-index:10;
	}
	
#lbox ul li{
	list-style:none;
	display: inline;	
	}
	
#lbox img{
	border:0;
	border-width:2px;
	border-color:#000;
	border-style:outset;
}
	
#lbox_closed ul li{
	list-style:none;
	display: inline;	
	}
	
#lbox_closed img{
	border:0;
	border-width:2px;
	border-color:#000;
	border-style:outset;
}	
	
	
#back{
	position:absolute;
	top:19px;
	right:262px;
	font-family:'Tangerine','Tangerine_Bold','FuturaLTCondensedBold',"Times New Roman",Times,serif,helvetica;
	font-size:24px;
	overflow:hidden;
	}
	
#socialIconSkype {
background: url(../jay1.png) no-repeat;
}
.socialIcon:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
}
.socialIcon {
width: 26px;
height: 19px;
display: inline-block;
text-indent: -30000px;
margin: 5px 5px 0 0;
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow: hidden;
}
